@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* FONTS */
    --body: "Poppins", sans-serif;
    --title: "Abril Fatface", serif;

    /* COLORS */
    --one: #E6DED6;
    --two: #BFA393;
    --three: #A68263;
    --four: #402110;
    --five: #450A0C;
    --six: #700520;
    --seven: #0A0501;
}

* {
    font-family: var(--body);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    background-color: var(--one);
}

nav{
    display: flex;
    flex-direction: row;
    background-color: var(--one);
    align-items: center;
    justify-content: center;
    width: 65%;
    border-radius: 15rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px -12px 16px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -12px 16px 0px rgba(0,0,0,0.15);
    box-shadow: 0px -12px 16px 0px rgba(0,0,0,0.15);
}

nav h1{
    color: var(--four);
    margin-right: 5rem;
    transition: 0.2s;
}

nav h1:hover{
    font-size: 2rem;
}

nav a{    
    padding: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: var(--seven);
    cursor: pointer;
    transition: 0.2s;
}

nav a:hover{
    text-decoration: underline;
}

img{
    display: flex;
    position: absolute;
    top: 3rem;
    
}
